[submodule "ras-backend"]
	path = ras-backend
	url = https://github.com/spo-iitk/ras-backend
[submodule "ras-frontend"]
	path = ras-frontend
	url = https://github.com/spo-iitk/ras-frontend
[submodule "ras-cdn"]
	path = ras-cdn
	url = https://github.com/spo-iitk/ras-cdn
